/* ==UserStyle==
@name           webnovel mobile filters
@namespace      github.com/CaidenBlock/webnovel-mobile-filters
@version        0.0.6
@description    adjusts some sites to make content work on mobile, may also require the ublock filter list, added as I read
@author         caidenblock
@updateURL      https://github.com/CaidenBlock/webnovel-mobile-filters/raw/main/webnovelmobile.user.css
@preprocessor   stylus
==/UserStyle== */
@-moz-document domain("royalroadweed.blogspot.com") {
    body{
        line-height: normal !important;
    }
    .container, #main {
        width: 98% !important;
        margin: 0 1vw !important;
    }
    .post {
        padding: 0 0 0 0 !important;
    }
    .post-entry {
        text-align: left !important
    }
}

@-moz-document domain("lmstranslation.blogspot.com") {
    body {
        padding: 0;
    }
    .content-outer {
        max-width: 100vw !important;
        margin: 0;
    }
}

@-moz-document domain("japtem.blogspot.com") {
    body {
        font-size: 22px !important
    }
}

@-moz-document domain("japtem.com") {
    table {
        margin: 0 !important;
    }
    table td {
        padding: 5px 2px 0px 2px !important;
        margin: 0px !important;
        height: 40% !important;
    }
}
@-moz-document domain("tseirptranslations.com") {
    /* Hide paragraph elements that aren't text and dont have children please give :blank*/
    p:not(.darklup--text):not(:has(*)) {
        display: none;
    }
    p {
        margin: 1.5vh auto !important;
    }
}
